@import 'tailwindcss';

html {
	background: #f6f7fb;
}

body {
	margin: 0;
	font-family:
		Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', sans-serif;
	color: #20265e;
}

.print-only {
	display: none;
}

@media print {
	@page {
		margin: 10mm;
	}
	html {
		background: white;
		font-size: 11pt;
	}
	body {
		font-size: 11pt;
		line-height: 1.25;
	}
	header,
	.no-print {
		display: none !important;
	}
	.print-only {
		display: block !important;
	}
	a {
		text-decoration: none !important;
	}
}
